@import '../../base/base';

.navbar {
    position: absolute;
    top: 0;
    z-index: 10;
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    padding-top: $size-24;
    padding-right: $size-35;  
    padding-left: $size-35;  

    @include breakpoint ($m) {
        padding-top: $size-46;
        padding-right: 140px;  
        padding-left: 140px;  
    }
}

.navbar__icon {
    background: url(icons/knowit_white.svg) center center no-repeat;
    background-size: contain;
    height: $size-30;
    width: 110px;
}

.navbar__hamburger {
    background: url(icons/icon-menu.svg) center center no-repeat;
    background-size: contain;
    height: $size-24;
    width: 33px;
    margin-left: auto
}

.navbar__list {
    list-style: none;
    flex-direction: column;
    display: none;
    margin-left: auto;
    opacity: 0;
    width: 100%;
    margin: 0;

    &[aria-hidden="true"] {
        display: flex;
        background-color: $color-white;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        text-align: center;
        padding: $size-35;
        opacity: 1;
        transition: opacity $transition-timing;

        @include breakpoint ($m) {
            display: none;
        }
    }

    @include breakpoint ($m) {
        display: flex;
        flex-direction: row;
        opacity: 1;
    }
}

.navbar__list-item:first-child {
    margin-left: 0;

    @include breakpoint ($m) {
        margin-left: auto;
    }
}

.navbar__list-item:not(:last-child) {
    margin-bottom: $size-35;

    @include breakpoint ($m) {
        margin-bottom: 0;
    }
}

@include breakpoint ($s) {
    .navbar__list-item:nth-child(even) {
        margin-right: $size-45;

        @include breakpoint ($m) {
            margin-right: $size-35;
        }

        &:last-child {
            margin: 0;
        }
    }
    .navbar__list-item:nth-child(odd) {
        margin-right: $size-46;
    
        @include breakpoint ($m) {
            margin-right: $size-36;
        }

        &:last-child {
            margin: 0;
        }
    }
}

.navbar__link {
    text-decoration: none;
    color: $color-black;
    position: relative;
    font-size: $size-16;
    font-weight: bold;

    @include breakpoint ($m) {
        color: $color-white;
        text-shadow: 0px 2px $size-4 ($color-black);
    }

    @include breakpoint ($l) {
        font-size: $size-20;
    }
}

.navbar__link-notification {
    color: white;
    font-weight: bold;
    font-size: 11px;
    background-color: #F57E7E;
    border-radius: 50%;
    position: absolute;
    right: -$size-14;
    top: -$size-6;
    z-index: 1;
    height: $size-22;
    width: $size-22;
    text-align: center;
}
