// Sizes
$size-4: 4px;
$size-6: 6px;
$size-13: 13px;
$size-14: 14px;
$size-16: 16px;
$size-18: 18px;
$size-20: 20px;
$size-22: 22px;
$size-24: 24px;
$size-25: 25px;
$size-28: 28px;
$size-30: 30px;
$size-31: 31px;
$size-32: 32px;
$size-35: 35px;
$size-36: 36px;
$size-37: 37px;
$size-44: 44px;
$size-45: 45px;
$size-46: 46px;
$size-56: 56px;

// Z-index
$z-modal: 100;

// Breakpoints
$xs: 468px;
$s: 769px;
$m: 968px;
$l: 1240px;

// Transitions
$transition-timing: .25s cubic-bezier(0.4, 0.0, 0.2, 1);
